@{
    ViewBag.Title = "Delete";
}

<h2>Delete Category</h2>

<form method="post">
    <label>Category ID</label>
    <input name="ID" />

    <button type="submit"> SUBMIT</button>
</form>